- var gb = banner && {'style': `background-image: url(${banner})`}
mixin article(id, text, name, style)
  .article-link(class=style)
    if (id)
      p.text-ellipsis= text
      a(href=id)= name
    else
      p= '没有了'

.article-detail
  .detail-banner(class={banner: banner})&attributes(gb)
    p.title= title
    .remark
      .time= date(createTime)
      .tag java
      .tag html
    p= catalogName
  .content.markdown-body
    p!= markdown(content)
    .more-article
      +article(beforeId, beforeTitle, '上一篇', 'text-right')
      .line
      +article(nextId, nextTitle, '下一篇', 'text-left')
